@import "../../styles/mixin.scss";

.video-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  .video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: -67px;
  }

  .video-content {
    width: 50%;
    position: absolute;
    top: 35%;
    left: 15%;
    border-left: 1px solid white;
    padding: 0 30px;

    p {
      padding: 10px 0;
    }

    h1 {
      padding: 10px 0;
      font-size: 80px;
    }
  }
}

.latest {
  @include flexCenter;
  width: 100vw;
  padding: 30px;
  margin-top: -67px;

  .watch {
    color: tomato;
  }
}