.category-page {
  padding: 30px;

  h1 {
    color: tomato; 
    margin-bottom: 10px;
  }

  select {
    appearance: none; 
    background-color: tomato;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 15px;
    margin-bottom: 20px;
    width: 160px;
    transition: all 0.3s ease;


    background-image: linear-gradient(45deg, transparent 50%, white 50%),
      linear-gradient(135deg, white 50%, transparent 50%);
    background-position: calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px);
    background-size: 5px 5px, 5px 5px;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      background-color: #f40612; 
      outline: none;
      box-shadow: 0 0 10px rgba(229, 9, 20, 0.5);
    }

    option {
      background-color: #141414;
      color: white;
    }
  }
}
