/* Nav.scss */
@import "../../styles/mixin.scss";

.navbar {
  @include flexCenter;
  background-color: rgba(66, 57, 57, 0.3);
  font-size: 20px;
  padding: 20px;
  position: relative;
  z-index: 1;
  min-width: 700px;
  margin-top: -7px;

  .logo {
    width: 30%;
    @include textStyle(25px, 400);

    &:hover {
      cursor: pointer;
    }
  }

  .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
    position: relative;
    @include textStyle(20px, 300);

    &:hover{
      cursor: pointer;
    }

    .menu-item {
      p {
        transition: all 1s;
        &:hover {
          color: tomato;
        }
      }
    }

    .dropdown {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgba(66, 57, 57, 0.3); 
      display: flex;
      justify-content: space-around;
      padding: 20px 0; 

      .dropdown-section {
        display: flex;
        flex-direction: column;
        p {
          margin: 5px 0;
          &:hover {
            color: tomato;
            cursor: pointer;
          }
        }
      }
    }
  }

  .search {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include textStyle(20px, 300);

    input {
      margin-left: 5px;
      margin-top: 2px;
      width: 40%;
      border: 1px solid tomato;
      background-color: black;
      color: white;
      padding: 7px;

      &:focus {
        outline: none;
      }
    }
  }
}
